a{
    color: white;
    padding: 2%;
    transition: 0.2s;
    font-size: 2vh;
}

a:hover{
    color: white;
    transform: scale(1.5,1.5);
}

.links{
    display: flex;
    gap: 40px;
}

.activo{
    transform: scale(1.3,1.2);
    background: -webkit-linear-gradient(white,rgb(142, 162, 163));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(194, 194, 194);
    border-bottom: 2px solid ;
}